body{

font-family: Arial, Helvetica, sans-serif;
background-color: gainsboro;
margin: 0;
padding: 20px;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;


}

.container{

background-color: rgb(129, 185, 235);
padding: 20px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0,0, 0.1)

}

h1{

text-align: center;
color: rgb(5,5,58);

}

form{

    display: flex;
    flex-direction: column;


}

label{

    margin-bottom: 5px;

}

input, select {

    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid maroon;
    border-radius: 4px;
    font-size: 16px;
}

button{

    background-color: rgb(74, 72, 173);
    color: antiquewhite;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}


button a{
    text-decoration: none;
    color: rgb(14, 13, 13);

}


button:hover{

background-color: aliceblue;
color: rgb(144, 59, 59);


}